<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.dazhou.railway">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="tKiTYcTGAZB0NrpWK19f57Rrp3PzrGOo" />

        <activity
            android:name=".im.login.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".im.chat.ChatActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".im.activity.MainActivity" />
        <activity
            android:name=".im.activity.FullImageActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <service
            android:name=".im.service.IMChatService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".im.addfriend.AddFriendActivity" />

        <service
            android:name=".im.service.IMFriendRequestService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="action.friend.refresh"></action>
            </intent-filter>
        </service>

        <activity
            android:name=".im.activity.FriendRequestActivity"
            android:launchMode="singleTop" />
        <activity android:name=".im.activity.SettingActivity" />

        <service
            android:name=".im.service.IMChatRoomService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".im.activity.ChatRoomActivity" />
        <activity
            android:name=".SplashActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".im.activity.MyselfInfoActivity" />
        <activity android:name=".im.editinfo.EditInfoActivity" />
        <activity android:name=".im.friendinfo.FriendInfoActivity" />

    </application>

</manifest>